body,
ul,
li,
p,
h2,
h4 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4b4343;
}

@font-face {
  font-family: "Gotham Pro Regular";
  src: url("GothamPro.eot");
  src: url("GothamPro.eot?#iefix") format("embedded-opentype"),
    url("GothamPro.woff") format("woff"),
    url("GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url("GothamPro-Bold.eot");
  src: url("GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("GothamPro-Bold.woff") format("woff"),
    url("GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Gotham Pro Regular";
  color: #4b4343;
}

.no-link {
  pointer-events: none;
}

.back {
  background: url(../img/background1.png);
}

.position {
  width: 1290px;
  margin: 0 auto;
}

.shadow {
  position: absolute;
  background: linear-gradient(0deg, #4b4343 0%, rgba(75, 67, 67, 0) 57.2%);
}

.head_marg1 {
  margin-top: 90px;
}

.head_marg2 {
  margin-top: 100px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background: rgb(251, 250, 249, 0.9);
  box-shadow: 0px 6px 10px rgba(80, 52, 41, 0.15);
  justify-content: center;
}

.header .header_text {
  margin-left: 10px;
  color: #dc5a52;
}

.header .header_text h1 {
  font-weight: 900;
  font-size: 25px;
  line-height: 27px;
  text-transform: uppercase;
  margin: auto;
  font-family: "Gotham Pro Bold";
}

.header .header_text p {
  font-size: 14px;
  line-height: 13px;
}

.header .menu {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.header .menu .menu_item {
  margin-right: 40px;
  border-bottom: 4px solid transparent;
  height: 76px;
  line-height: 76px;
}

.header .menu .menu_item_search {
  margin-right: 0;
}

.header .menu .menu_link {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
}

.header .menu .menu_item .menu_dropdown {
  display: none;
}

.header .menu .menu_item:hover {
  border-bottom: 4px solid #dc5a52;
}

.header .menu .menu_item_search:hover {
  border-bottom: 4px solid transparent;
}

.header .menu .drop_pos {
  position: relative;
}

.header .menu .menu_item:hover .menu_dropdown {
  display: block;
  position: absolute;
  padding-top: 14px;
  z-index: 5;
}

.header .menu .menu_item .menu_dropdown li {
  background: #f5f1eb;
}

.header .menu .menu_item .menu_dropdown_us {
  width: 370px;
}

.header .menu .menu_item .menu_dropdown_soldier {
  width: 350px;
}

.header .menu .menu_item .menu_dropdown_material {
  width: 545px;
  right: 0;
  height: 120px;
}

.header .menu .menu_item .menu_dropdown a {
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  display: block;
  padding: 15px 30px;
}

.header .menu .menu_item .menu_dropdown_material a {
  display: flex;
  justify-content: flex-end;
}

.header .menu .menu_item .menu_dropdown .menu_dropdown_arrow {
  margin-left: 22px;
  transition: 0s 180s;
}

.header .menu .menu_item .menu_dropdown a:hover {
  background: #f6f6f6;
  color: #dc5a52;
}

.header .menu .menu_item .menu_dropdown a:hover .menu_dropdown_arrow {
  transform: rotate(90deg);
  transition: 0s;
}

.header .menu .menu_item .menu_dropdown .menu_dropdown_submenu a {
  text-transform: none;
  display: none;
  text-align: end;
}

.header .menu .menu_item .menu_dropdown .menu_dropdown_item:hover .submenu1 a {
  display: block;
}

.header .menu .menu_item .menu_dropdown .menu_dropdown_item:hover .submenu2 a {
  display: block;
}

.header .menu .menu_item .menu_dropdown .menu_dropdown_item:hover .submenu3 a {
  display: block;
}

.header .menu .menu_item_search form {
  position: relative;
  margin-top: 28px;
  margin-left: 44px;
  opacity: 1;
}

.header .menu .menu_item_search input {
  height: 100%;
  width: 0;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  outline: none;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  z-index: 2;
  height: 15px;
  font-size: 16px;
  line-height: 15px;
  top: 0;
  right: 0;
}

.header .menu .menu_item_search input:focus {
  width: 950px;
  z-index: 1;
  border-bottom: 1px solid #cccccc;
}

.header .menu .menu_item_search button {
  border: none;
  position: absolute;
  background: transparent;
  height: 23px;
  width: 23px;
  outline: none;
  top: 0;
  right: 0;
}

.header .menu .menu_item_search button {
  font-size: 23px;
  z-index: 3;
}

/* исправить кнопку */

.header .menu .menu_item_search .fa-search:hover {
  color: #dc5a52;
}

.header .menu_item_search:active .menu_item {
  display: none;
}

.block1 {
  padding-bottom: 111px;
  position: relative;
  padding-top: 150px;
}

.block1 .block1_top {
  display: flex;
  justify-content: flex-end;
}

.block1_elem1 .block1_elem1_p1 {
  width: 497px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
}

.block1_elem1 h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 626px;
  height: 80px;
  font-size: 72px;
  line-height: 79px;
  text-transform: uppercase;
  font-family: "Gotham Pro Bold";
}

.block1_elem1 .block1_elem1_p2 {
  width: 479px;
  height: 72px;
  font-size: 14px;
  line-height: 24px;
}

.block1_elem1 .block1_button {
  width: 300px;
  height: 60px;
  margin-top: 30px;
  background: linear-gradient(105.11deg, #fe7866 -20.63%, #bf0330 128.14%);

  font-size: 18px;
  line-height: 17px;
  color: #f4f2ed;
  border: none;
  cursor: pointer;
}

.block1_elem1 .block1_button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0px 10px 20px rgba(220, 90, 82, 0.5);
}

.block1_elem1 .block1_button:focus {
  outline: none;
}

.block1_elem2 {
  height: 548px;
  background-image: url(../img/fogperson.png);
  position: absolute;
  top: 0;
  right: 0;
}

.block1_elem2 .block1_elem2_links {
  display: grid;
  right: 50px;
  position: absolute;
  top: 50px;
  z-index: 2;
}

.block1_elem2 .block1_elem2_links a {
  z-index: 5;
  width: 70px;
  height: 70px;
}

.block1_elem2 .block1_elem2_links .vk {
  background-image: url(../img/vk.png);
}

.block1_elem2 .block1_elem2_links .vk:hover {
  background-image: url(../img/vk1.png);
}

.block1_elem2 .block1_elem2_links .facebook {
  background-image: url(../img/facebook.png);
}

.block1_elem2 .block1_elem2_links .facebook:hover {
  background-image: url(../img/facebook1.png);
}

.block1_elem2 .block1_elem2_links .odnoklassniki {
  background-image: url(../img/odnoklassniki.png);
}

.block1_elem2 .block1_elem2_links .odnoklassniki:hover {
  background-image: url(../img/odnoklassniki1.png);
}

.block1_elem2 .block1_elem2_links .inst {
  background-image: url(../img/instagram.svg);
}

.block1_elem2 .block1_elem2_links .inst:hover {
  background-image: url(../img/instagram1.svg);
}

.block1_elem3 {
  text-align: center;
  margin-top: 26px;
}

.block1_elem3 h2 {
  height: 34px;
  font-family: "Gotham Pro Bold";
  font-size: 36px;
  line-height: 34px;
}

.block1_elem3 p {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 15px;
  font-size: 16px;
  line-height: 15px;
}

.block1_elem3 .form1 {
  display: flex;
}

.block1_elem3 .form2 {
  display: inline-table;
}

.block1_elem3 .form1 input,
.block1_elem3 .form1 button,
.block1_elem3 .form2 input,
.block1_elem3 .form2 select,
.block1_elem3 .form3 .block1_elem3_form_checkbox input,
.block1_elem3 .block1_elem3_form_checkbox label::before {
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0px 6px 10px rgba(80, 52, 41, 0.15);
}

.block1_elem3 .form1 input,
.block1_elem3 .form2 input,
.block1_elem3 .form2 select {
  font-size: 16px;
  line-height: 15px;
  padding-left: 20px;
  border: 2px solid transparent;
  caret-color: #dc5a52;
}

.block1_elem3 .form1 input:focus,
.block1_elem3 .form2 input:focus,
.block1_elem3 .form2 select:focus,
.block1_elem3 .form1 button:focus {
  outline: none;
  border: 2px solid #dc5a52;
  border-radius: 2px;
}

.block1_elem3 .form1 input {
  height: calc(70px - 6px);
  width: calc(248px - 22px);
  border-right: 2px solid #ececec;
}

.block1_elem3 .form1 button {
  width: 300px;
  height: 70px;
  background: linear-gradient(105.11deg, #fe7866 -20.63%, #bf0330 128.14%);
  font-size: 18px;
  line-height: 17px;
  color: #f4f2ed;
  border: none;
}

.block1_elem3 .form1 button img,
.block4 .search_news_big .news_big button img {
  vertical-align: middle;
  margin-left: 5px;
}

.block1_elem3 .form1 button:hover {
  cursor: pointer;
}

.block1_elem3 .form2 input:first-child {
  width: calc(100% - 22px);
  margin-top: 37px;
  margin-bottom: 40px;
}

.block1_elem3 .form2 input,
.block1_elem3 .form2 select {
  height: calc(60px - 2px);
  background: #fdfcfa;
}

.block1_elem3 .form2 input:nth-child(2) {
  width: calc(520px - 22px);
  margin-right: 30px;
}

.block1_elem3 .form2 select {
  width: 520px;
  border: none;
  padding-left: 20px;
  margin-right: 30px;
  height: 60px;
}

.block1_elem3 .form2 input[type="date"] {
  width: calc(190px - 20px);
  height: 60px;
}

.block1_elem3 .form3 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.block1_elem3 .form3 label,
.block1_elem3 .block1_elem3_search {
  font-size: 16px;
  line-height: 15px;
}

.block1_elem3 .form3 input {
  height: 30px;
  width: 30px;
}

.block1_elem3_search a {
  font-size: 16px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #dc5a52;
}

.block1_elem3 .form3 .form3_checkbox {
  display: flex;
}

.block1_elem3 .form3 .form3_checkbox .form3_position {
  margin-left: 56px;
}

.block1_elem3 .form3 .hide_search {
  display: none;
}

.block1_elem3 .form2 {
  display: none;
}

.block1_elem3 .block1_elem3_form_checkbox input {
  display: none;
}

.block1_elem3 .block1_elem3_form_checkbox input:checked + label::before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: #dc5a52;
  border: 1.6px solid #dc5a52;
  border-radius: 4px;
}

.block1_elem3 .block1_elem3_form_checkbox label::before {
  content: "";
  color: #000;
  display: inline-block;
  font: 20px/30px FontAwesome;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-image: initial;
  position: relative;
  text-indent: 0px;
  vertical-align: middle;
  border-radius: 4px;
  border: 1.6px solid #ffffff;
}

/*   .block1_elem3 .form3 .full_search:hover {
  display: none;
}

  .block1_elem3 .form3 .full_search:hover .hide_search {
  display: block;
} */

.block1 .block1_elem4 {
  margin-top: 121px;
}

.block1 .block1_elem4 .soldier_head,
.block3 .block3_head .projects_head,
.block4 .block4_head {
  display: flex;
  align-items: center;
}

.block1 .block1_elem4 .soldier_head h2 {
  width: fit-content;
  font-family: "Gotham Pro Bold";
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.block1 .block1_elem4 .soldier_head a,
.block3 .block3_head .projects_head a,
.block4 .block4_head a {
  font-size: 16px;
  line-height: 15px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #dc5a52;
  margin-left: 30px;
}

.block1 .block1_elem4 .block1_elem4_p,
.block3 .block3_head .block3_head_p {
  font-size: 16px;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.block1 .block1_elem4 .block1_elem4_soldiers_slide {
  display: flex;
  width: 1290px;
  justify-content: space-between;
}

.block1 .block1_elem4 .block1_elem4_soldiers_card {
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(80, 52, 41, 0.15);
  font-size: 18px;
  line-height: 24px;
}

.block1 .block1_elem4 .block1_elem4_soldiers_card .soldier_descrip {
  margin: 20px;
}

.block1 .block1_elem4 .block1_elem4_soldiers_card .soldier_descrip .live_date {
  font-family: "Gotham Pro Bold";
  font-size: 15px;
  line-height: 19px;
  margin-top: 10px;
}

.block1 .block1_elem4 .block1_elem4_p,
.block1 .block1_elem4 .block1_elem4_soldiers_card .soldier_descrip {
  text-align: initial;
}

.block1 .block1_elem4 .btn_nav,
.block3 .projects .slide .slide_nav {
  display: none;
  position: absolute;
  top: 45%;
  left: 250px;
  right: 250px;
  z-index: 2;
}

.block1 .block1_elem4 .btn_nav .btn_left,
.block1 .block1_elem4 .btn_nav .btn_right,
.block3 .projects .slide .slide_nav .btn_left,
.block3 .projects .slide .slide_nav .btn_right {
  background: #dc5a52;
  opacity: 0.6;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.block1 .block1_elem4 .btn_nav .btn_right,
.block3 .projects .slide .slide_nav .btn_right {
  position: absolute;
  right: 0;
}

.block1 .block1_elem4 .block1_elem4_soldiers_slide:hover .btn_nav,
.block3 .projects .slide .projects_slide:hover .slide_nav {
  display: block;
}

.block1 .block1_elem4 .btn_nav .btn_left:focus,
.block1 .block1_elem4 .btn_nav .btn_right:focus {
  outline: none;
}

.block2 {
  background: url(../img/background2.png);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 110px;
}

.block2 .bl2_el1 h4,
.block2 .bl2_el2 h4,
.block2 .bl2_el3 h4,
.block2 .bl2_el4 h4,
.block3 .block3_head .projects_head h2,
.block3 .projects h2,
.block4 .block4_head h2,
.block5 h2 {
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 0.02em;
  font-family: "Gotham Pro Bold";
}

.block2 .bl2_el1 .logo2 {
  margin-top: 25px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 25px;
}

.block2 .bl2_el1 .logo2 img {
  width: 74px;
  height: 74px;
}

.block2 .bl2_el1 .logo2 .logo2_text {
  color: #dc5a52;
  text-align: left;
  margin-left: 10px;
}

.block2 .bl2_el1 .logo2 .logo2_text h4 {
  font-size: 28px;
  line-height: 27px;
  text-transform: uppercase;
}

.block2 .bl2_el1 .logo2 .logo2_text p {
  font-size: 14px;
  line-height: 13px;
}

.block2 .bl2_el1 .bl2_el1_p {
  width: 1290px;
  margin: 0 auto;
}

.block2 .bl2_el2,
.block2 .bl2_el3,
.block2 .bl2_el4 {
  margin-top: 100px;
}

.block2 .bl2_el2 h4 {
  line-height: 43px;
}

.block2 .bl2_el2 .bl2_el2_content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.block2 .bl2_el2 .bl2_el2_content p {
  width: 630px;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-left: 25px;
}

.block2 .bl2_el3 .lane1,
.block2 .bl2_el3 .lane2 {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  align-items: baseline;
  width: 1290px;
}

.block2 .bl2_el3 .lane2 {
  width: 960px;
  margin-top: 60px;
}

.block2 .bl2_el3 .lane1 img,
.block2 .bl2_el3 .lane2 img {
  background: url(../img/Frame.png) bottom no-repeat;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.block2 .bl2_el3 .lane1 p a,
.block2 .bl2_el3 .lane2 p a {
  font-family: "Gotham Pro Bold";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.block2 .bl2_el3 .lane1 p,
.block2 .bl2_el3 .lane2 p {
  margin-top: 20px;
}

.block1 .block1_elem4 .btn_nav,
.block2 .bl2_el3 .lane1 div,
.block2 .bl2_el3 .lane2 div,
.block3 .projects .slide .slide_nav,
.block5 .partners .card_partner {
  transition: 0.5s;
}

.block2 .bl2_el3 .lane1 div:hover,
.block2 .bl2_el3 .lane2 div:hover,
.block5 .partners .card_partner:hover {
  transform: translateY(-10px);
}

.block2 .bl2_el4 .numbers1,
.block2 .bl2_el4 .numbers2 {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
  width: 1192px;
}

.block2 .bl2_el4 .numbers1 .num,
.block2 .bl2_el4 .numbers2 .num {
  font-family: "Gotham Pro Bold";
  font-size: 72px;
  line-height: 69px;
  color: #dc5a52;
}

.block2 .bl2_el4 .numbers1 .numbers_text,
.block2 .bl2_el4 .numbers2 .numbers_text {
  width: 300px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.block2 .bl2_el4 .numbers2 {
  margin-top: 115px;
}

.block3 {
  background: linear-gradient(
      90deg,
      rgba(244, 242, 237, 0) 0%,
      rgba(244, 242, 237, 0.7) 60.04%
    ),
    url(../img/background3.png);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 84px;
}

.block3 .block3_head .block3_head_p {
  margin-bottom: 50px;
}

.block3 .projects h2 {
  color: #dc5a52;
  margin-bottom: 30px;
}

.block3 .projects .projects_slide {
  display: flex;
  justify-content: space-between;
}

.block3 .projects .projects_slide .project_card {
  position: relative;
  z-index: 5;
}

.block3 .projects .projects_slide .project_card p,
.block4 .search_news_big .news_big .big_text,
.block4 .search_news_small .news_small .small_text {
  width: 350px;
  position: absolute;
  left: 7.56%;
  bottom: 9.23%;
  color: #f4f2ed;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  font-family: "Gotham Pro Bold";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.block3 .projects .projects_slide .project_card .shadow,
.block4 .search_news_small .news_small .shadow {
  width: 410px;
  height: 275px;
  top: 0;
}

.block3 .projects .projects_slide .project_card:hover .shadow,
.block4 .search_news_big .news_big:hover .shadow,
.block4 .search_news_small .news_small:hover .shadow {
  background: linear-gradient(
    105.11deg,
    rgb(254, 120, 102, 0.9) -20.63%,
    rgb(191, 3, 48, 0.9) 128.14%
  );
}

.block3 .projects .projects_slide .project_card:hover .card_p_hover,
.block4 .search_news_small .news_small:hover .small_text {
  top: 9.23%;
  bottom: 0;
}

.block4 .search_news_big .news_big:hover .big_text {
  top: 6%;
  bottom: 0;
}

.block3 .projects .projects_slide .project_card button,
.block4 .search_news_big .news_big button,
.block4 .search_news_small .news_small button {
  display: none;
  position: absolute;
  left: 7.32%;
  bottom: 9.23%;
  border: 2px solid #ffffff;
  background: transparent;
  font-family: "Gotham Pro Regular";
  font-size: 14px;
  line-height: 13px;
  color: #f4f2ed;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.block4 .search_news_big .news_big .big_text,
.block4 .search_news_big .news_big button {
  left: 4.76%;
}
.block4 .search_news_small .news_small button {
  left: 43.9%;
  right: 7.32%;
}

.block3 .projects .projects_slide .project_card button img,
.block4 .search_news_small .news_small button img {
  margin-left: 5px;
}

.block3 .projects .projects_slide .project_card:hover .card_btn,
.block4 .search_news_big .news_big:hover .card_btn,
.block4 .search_news_big .news_big:hover .hidden_text,
.block4 .search_news_small .news_small:hover .card_btn,
.block4 .search_news_small .news_small:hover .hidden_small {
  display: block;
}

.block3 .projects .slide,
.block1 .block1_elem4 .block1_elem4_soldiers {
  position: relative;
}

.block4 {
  background: linear-gradient(360deg, #fbf6f2 0%, rgba(251, 246, 242, 0) 50%),
    url(../img/background4.png);
  padding: 90px 0;
  width: 100%;
}

.block4 .search_news_big,
.block4 .search_news_small {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.block4 .search_news_big .news_big,
.block4 .search_news_small .news_small {
  position: relative;
}

.block4 .search_news_big .news_big .big_text {
  width: 570px;
  bottom: 28px;
}

.block4 .search_news_big .news_big .big_text h4 {
  font-size: 24px;
  line-height: 29px;
  font-family: "Gotham Pro Bold";
}

.block4 .search_news_big .news_big .big_text .date,
.block4 .search_news_small .news_small .small_text .date {
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  font-family: "Gotham Pro Regular";
}

.block4 .search_news_big .news_big button {
  width: 300px;
  height: 60px;
  font-size: 18px;
  line-height: 17px;
}

.block4 .search_news_big .news_big .shadow {
  width: 630px;
  height: 500px;
  top: 0;
}

.block4 .search_news_big .news_big .hidden_text {
  font-size: 16px;
  line-height: 24px;
  color: #f4f2ed;
  display: none;
  position: absolute;
  left: 4.76%;
  right: 4.76%;
  top: 29.6%;
}

.block4 .search_news_small .news_small .shadow {
  height: 325px;
}

.block4 .search_news_small .news_small .hidden_small {
  position: absolute;
  left: 7.56%;
  right: 7.07%;
  top: 38.77%;
  font-size: 14px;
  line-height: 20px;
  color: #f4f2ed;
  display: none;
}

.block5 {
  background: linear-gradient(
      90deg,
      rgba(244, 242, 237, 0) 0%,
      rgba(244, 242, 237, 0.7) 60.04%
    ),
    url(../img/background5.png);
  padding-top: 100px;
  width: 100%;
  text-align: center;
  padding-bottom: 101px;
}

.block5 .partners {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.block5 .partners .card_partner {
  width: 410px;
  height: 120px;
  background: #fbfaf9;
  box-shadow: 0px 6px 10px rgba(80, 52, 41, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.block5 .partners a {
  display: block;
  height: 100%;
}

.block5 .partners .card_partner .text_partner {
  width: 260px;
  text-align: left;
  margin-left: 20px;
  letter-spacing: 0.02em;
}

.block5 .partners .card_partner .text_partner h4 {
  font-size: 14px;
  line-height: 21px;
}

.block5 .partners .card_partner .text_partner p {
  font-size: 12px;
  line-height: 11px;
  margin-top: 5px;
}

footer {
  background: #4b4343;
}

.foot_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f2ed;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.foot_content .developer {
  display: flex;
  align-items: baseline;
}

.foot_content .developer p {
  font-size: 14px;
  line-height: 13px;
  color: #f4f2ed;
  margin-left: 10px;
}

.foot_content .social {
  display: flex;
  align-items: center;
}

.foot_content .social .social_links {
  display: flex;
  align-items: center;
}

.foot_content .social .social_links a {
  display: block;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
